<div class="padfix">
        <form method="post" action="/user/create" class="form-horizontal">
            <div class="form-group">
              <label class="col-md-4 control-label" for="name">Nombre</label>  
              <div class="col-md-5">
              <input id="name" name="name" type="text" placeholder="nombre" class="form-control input-md" required="">
                
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="lastname">Apellido</label>  
              <div class="col-md-5">
              <input id="lastname" name="lastname" type="text" placeholder="apellido" class="form-control input-md" required="">
                
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="username">Username</label>  
              <div class="col-md-5">
              <input id="username" name="username" type="text" placeholder="username" class="form-control input-md">
                
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="email">Email</label>  
              <div class="col-md-5">
              <input id="email" name="email" type="text" placeholder="email" class="form-control input-md" required="">
                
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-5 control-label">
              <input type="submit">
            </div>


      </form>
</div>
